<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header d-flex align-items-center mb-3">
          <i class="fa-solid fa-right-to-bracket text-white fa-lg mr-2"></i>
          <h3 class="card-title text-center text-white pt-2">新規会員登録する</h3>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field mb-3">
              <%= f.label :name %><br />
              <%= f.text_field :name %>
            </div>

            <div class="field mb-3">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="d-grid gap-2 my-2">
              <%= f.submit "登録する", class: "btn btn-primary" %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>

