<div class = "row">
  <div class = "col-sm-8 offset-sm-2 col-md-6 offset-md-3">
    <div class = "my-content mt-3">
      <%= image_tag @client.get_profile_image(300,300) %>
      <div class ="action-area my-3">
        <h3 class = "my-3"><%= @client.name %></h3>
        <% if current_contractor %>
          <% if current_contractor.following?(@client) %>
            <%= link_to "unfollow", contractor_client_follows_path(@client), method: :delete, class: "btn btn-danger mr-3"%>
          <% else %>
            <%= link_to "follow", contractor_client_follows_path(@client), method: :post, class: "btn btn-primary mr-3"%>
          <% end %>
        <% end %>
        <% if current_contractor %>
          <%= link_to"DMを送る",new_contractor_client_message_path(@client), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  <div class="content-body shadow p-3 mb-5 bg-white rounded">
    <div class ="content-title d-flex align-items-center">
      <i class="fa-regular fa-map mx-2"></i>
      <h1>area</h1>
    </div>
    <p class = "card-text mx-2">
      <%= @client.area %>
    </p>
  </div>

  <div class="content-body shadow p-3 mb-5 bg-white rounded">
    <div class ="content-title d-flex align-items-center">
      <i class="fa-regular fa-square-check mx-2"></i>
      <h1>introduction</h1>
    </div>
    <p class = "card-text mx-2">
      <%= @client.introduction %>
    </p>
  </div>

  <div class="content-body shadow p-3 mb-5 bg-white rounded">
    <div class ="content-title d-flex align-items-center">
      <i class="fa-regular fa-lightbulb mx-2"></i>
      <h1>purpose</h1>
    </div>
    <p class = "card-text mx-2">
      <%= @client.purpose %>
    </p>
  </div>

  <div class="content-body shadow p-3 mb-5 bg-white rounded">
    <div class ="content-title d-flex align-items-center">
      <i class="fa-regular fa-flag mx-2"></i>
      <h1>goal</h1>
    </div>
    <p class = "card-text mx-2">
      <%= @client.goal %>
    </p>
  </div>

 <div class="content-body shadow p-3 mb-5 bg-white rounded">
   <div class ="content-title d-flex align-items-center">
      <i class="fa-regular fa-note-sticky mx-2"></i>
      <h1>post</h1>
   </div>
   <div class ="card-post">
    <% @posts.each do |post| %>
      <div class = "client-post">
      <%= link_to post.title, post_path(post.id) %>
      <%= post.body %>
      <%= link_to post.embed_url, post.embed_url %>
      <% if post.image.attached? %>
        <%= image_tag post.image.variant(resize_to_limit: [400,180]) %>
      <% end %>
      <% if post.video.attached? %>
        <%= video_tag polymorphic_path(post.video), controls: true, size: "400x180"  %>
      <% end %>
      </div>
    <% end %>
    <br />
    </div>
  </div>
    <%= link_to "投稿一覧", posts_path, class: "btn btn-primary" %>
  </div>
</div>


