<%= image_tag @client.get_profile_image(100,100) %>
<%= @client.name %>
<h1>area</h1>
<%= @client.area %>
<h1>introduction</h1>
<%= @client.introduction %>
<h1>purpose</h1>
<%= @client.purpose %>
<h1>goal</h1>
<%= @client.goal %>

<h1>my post</h1>
<% @posts.each do |post| %>
<%= link_to post.title, post_path(post.id) %>
<%= post.body %>
<%= link_to post.embed_url, post.embed_url %>
<% if post.image.attached? %>
<%= image_tag post.image.variant(resize_to_limit: [300,200]) %>
<% end %>
<% if post.video.attached? %>
<%= video_tag polymorphic_path(post.video), controls: true, size: "300x300"  %>
<% end %>
<br />
<% end %>

<%= link_to "投稿一覧へ戻る", posts_path %>

<% if current_contractor %>
  <% if current_contractor.following?(@client) %>
    <%= link_to "unfollow", contractor_client_follows_path(@client), method: :delete, class: "btn btn-danger"%>
  <% else %>
    <%= link_to "follow", contractor_client_follows_path(@client), method: :post, class: "btn btn-primary"%>
  <% end %>
<% end %>
