<div class = "row justify-content-center">
  <div class = "index mt-5">
  <div class = "message-index">
    <% @latest_messages.each do |message| %>
      <div class = "message mb-5">
        <% if message.sender == current_client %>
          <div class = "profile">
              <%= image_tag message.receiver.icon_image, class: "mr-3" %>
              <%= message.receiver.name %>
          </div>
          <div class = "messsage-link">
            <%= link_to client_message_path(message.receiver) do %>
              <%= message.created_at.strftime("%m-%d %H:%M") %>
              <%= message.body.truncate(20) %>
            <% end %>
          </div>
        <% else %>
          <div class = "profile">
              <%= image_tag message.sender.icon_image, class: "mr-3" %>
              <%= message.sender.name %>
          </div>
          <div class = "messsage-link">
            <%= link_to client_message_path(message.sender) do %>
              <%= message.created_at.strftime("%m-%d %H:%M") %>
              <%= message.body.truncate(20) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>