    <div class = "row justify-content-center mt-5">
      <div class = "message-page col-lg-10 mx-auto">
        <div class = "message-all">
          <% current_client.message_logs(@contractor).order(:created_at).each do |message| %>
              <% if message.sender == current_client %>
                <div class="message-row right-message mb-3 text-end">
                  <div class="message-content d-inline-block">
                    <%= message.body %>
                  </div>
                  <div class="message-info text-muted mt-2">
                    <%= message.created_at.strftime("%m-%d %H:%M") %>
                    <%= link_to message.sender.name, client_mypage_path(current_client) %>
                    <%= image_tag message.sender.get_profile_image(100,100), class: "rounded-circle ms-2" %>
                  </div>
                </div>
              <% else %>
                <div class="message-row left-message mb-3 text-start">
                  <div class="message-info text-muted mt-2">
                    <%= image_tag message.sender.get_profile_image(100,100), class: "rounded-circle me-2" %>
                    <%= message.created_at.strftime("%m-%d %H:%M") %>
                    <%= link_to message.sender.name, contractor_path(message.sender) %> <br />
                  </div>
                  <div class="message-content d-inline-block">
                    <%= message.body %>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
        <div class = "form-message row justify-content-end mr-5">
        <% unless current_contractor %>
          <%= form_with model: @message, url: client_messages_path do |f| %>
          <div class = "message-area">
            <%= f.hidden_field :receiver_id, value: @contractor.id %>
            <%= f.text_area :body, rows: 4, class: "message-form form-control mb-2" %>
            <%= f.label :image, "画像" %><br>
            <%= f.file_field :image, accept: "image/*" %><br>
            <%= f.label :video, "動画" %><br>
            <%= f.file_field :video, accept: "video/*" %><br>
            <%= f.submit "送信", class: "btn btn-primary mt-3" %>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>