<h3>DM</h3>
    <ul>
      <% current_client.message_logs(@contractor).order(:created_at).each do |message| %>
        <li>
          <%= message.created_at.strftime("%m-%d %H:%M") %>
          <%= message.body %>
          <%= message.sender.name%>
        </li>
      <% end %>
    </ul>

<% unless current_contractor %>
  <%= form_with model: @message, url: client_messages_path do |f| %>
  <%= f.hidden_field :receiver_id, value: @contractor.id %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 4, class: "form-control" %>
      <%= f.label :image, "画像" %><br>
      <%= f.file_field :image, accept: "image/*" %><br>
      <%= f.label :video, "動画" %><br>
      <%= f.file_field :video, accept: "video/*" %><br>
      <%= f.submit "send", class: "btn btn-primary" %>
  <% end %>
<% end %>