<h1>マイページ編集</h1>
<%= form_with model: @contractor do |c| %>
<%= c.file_field :profile_image ,multipe: true ,placeholder: "プロフィール画像",accept:"image/*"%>
<%= c.text_field:name %>
<h1>Area</h1>
<%= c.text_field:area %>
<h1>introduction</h1>
<%= c.text_area:introduction %>
<h1>skill</h1>
<%= c.text_area:skill %>
<h1>experience</h1>
<%= c.text_area:experience %>
<%= c.submit "更新" %>
<% end %>
