<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h2 class="card-title text-center text-white pt-2">マイページ編集</h2>
      </div>

      <div class="card-body">
        <%= form_with model: @contractor do |c| %>
        <div class = "form-image mb-4">
          <label for="profile_image" class="form-label d-block mb-2">プロフィール画像</label>
           <%= c.file_field :profile_image ,multipe: true ,placeholder: "プロフィール画像"%>
        </div>

        <div class = "content-form mb-4">
          <label for="name" class="form-label">Name</label>
          <div class = "edit-form">
            <%= c.text_field:name, class: "form-control rounded", placeholder: "Name" %>
          </div>
        </div>

        <div class = "content-form mb-4">
          <label for="area" class="form-label">Area</label>
          <div class = "edit-form">
            <%= c.text_field:area, class: "form-control rounded", placeholder: "Area"  %>
          </div>
        </div>

        <div class = "content-form mb-4">
          <label for="introduction" class="form-label">Introduction</label>
          <div class = "edit-form">
            <%= c.text_area:introduction, class: "form-control rounded", rows: 4, placeholder: "Introduction" %>
          </div>
        </div>

        <div class = "content-form mb-4">
          <label for="skill" class="form-label">Skill</label>
          <div class = "edit-form">
            <%= c.text_area:sklli, class: "form-control rounded", rows: 4, placeholder: "Skill" %>
          </div>
        </div>

        <div class = "content-form mb-4">
          <label for="experience" class="form-label">Experience</label>
          <div class = "edit-form">
            <%= c.text_area:experience, class: "form-control rounded", rows: 4, placeholder: "Experience"  %>
          </div>
        </div>

        <div class = "submit-button mb-3">
          <%= c.submit "更新", class: "btn btn-primary btn-lg mt-3" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
