<%= image_tag @contractor.get_profile_image(100,100) %>
<%= @contractor.name %>
<%= link_to "レビュー一覧",contractor_contractor_reviews_path(@contractor) %>
<h1>area</h1>
<%= @contractor.area %>
<h1>introduction</h1>
<%= @contractor.introduction %>
<h1>skill</h1>
<%= @contractor.skill %>
<h1>experience</h1>
<%= @contractor.experience %>

<%= link_to "投稿一覧へ戻る", posts_path %>

<% if current_client %>
  <% if current_client.following?(@contractor) %>
    <%= link_to "unfollow", client_contractor_follows_path(@contractor), method: :delete, class: "btn btn-danger"%>
  <% else %>
    <%= link_to "follow", contractor_client_follows_path(@contractor), method: :post, class: "btn btn-primary"%>
  <% end %>
<% end %>
<br />
<% if current_client %>
  <%= link_to "評価する", new_client_contractor_reviews_path(@contractor.id) %>
<% end %>