<%= form_with model:@post do |f| %>
<label for = "input-title">タイトル</label>
<%= f.text_field :title, autofocus:true %>
<label for = "input-body">本文</label>
<%= f.text_area :body %>
<label for = "input-image">画像</label>
<%= f.file_field :image ,multipe: true %>
<label for = "input-video">動画</label>
<%= f.file_field :video ,multipe: true %>
<label for = "input-url">URL</label>
<%=f.text_field :embed_url %>
<%= f.submit "更新" %>
<% end %>