<div class = "row justify-content-center">
  <%= render 'layouts/post_sidebar' %>
  <div class = "main-content col-sm-10 col-lg-7 offset-5">
    <div class = "post-content mt-3">
      <div class = "post-area">
        <% @posts.each do |post| %>
          <div class = "post-index mt-4">
            <div class = "post-profile mb-3">
            <%= link_to client_path(post.client) do %>
              <%= image_tag post.client.icon_image, class: "rounded-circle" %>
              <%= post.client.name %>
            <% end %>
          </div>
            <div class = "post-title mb-3">
              <%= link_to post.title.truncate(30), post_path(post.id) %>
            </div>
            <div class = "post-body mb-3">
              <%= post.body %>
            </div>
            <div class = "post-url mb-3">
              <%= link_to post.embed_url, post.embed_url %>
            </div>
            <%= image_tag post.resized_image, class: "mb-4" if post.image.attached? && post.image.content_type.starts_with?('image') %>
            <%= video_tag polymorphic_path(post.video), controls: true, size: "635x300", class: "mb-4" if post.video.attached? %>
          </div>
        <% end %>
      </div>
　　</div>
　</div>
</div>