<div class = "post-comments row justify-content-center">
  <div class = "post-show col-sm-10 col-lg-7">
    <div class = "post mt-5">
      <div class = "post-profile mb-3">
      <%= link_to client_path(@post.client) do %>
        <%= image_tag @post.client.icon_image, class: "rounded-circle" %>
        <%= @post.client.name %>
      <% end %>
      </div>
      <div class = "post-title mb-3">
        <%= @post.title %>
      </div>
      <div class = "post-body mb-3">
        <%= @post.body %>
      </div>
      <div class = "post-url mb-3">
        <%= link_to @post.embed_url, @post.embed_url %>
      </div>
      <%= image_tag @post.resized_image, class: "image-size mb-3" if @post.image.attached? && @post.image.content_type.starts_with?('image') %>
      <%= video_tag polymorphic_path(@post.video), controls: true, size: "635x300", class: "image-size mb-3" if @post.video.attached? %>
    </div>
    <div class = "icon-group d-flex text-right">
      <% if current_client && current_client.id == @post.client_id %>
        <%= link_to edit_post_path, class: "mr-3" do %>
          <i class="fa-regular fa-pen-to-square" style="font-size: 35px;"></i>
        <% end %>
        <%= link_to post_path(@post) ,method: :delete, data: { confirm: "本当に削除しますか？" } do %>
          <i class="fa-regular fa-trash-can large" style="font-size: 35px;"></i>
        <% end %>
      <% end %>
      <div class = "show-menu ml-auto">
        <% if @bookmark.present? %>
          <%= link_to post_bookmark_path(@post.id, @bookmark.id), method: :delete do %>
            <i class="fa-solid fa-bookmark mr-2 text-right" style="font-size: 30px;"></i>
          <% end %>
        <% else %>
          <%= link_to post_bookmarks_path(@post.id), method: :post do %>
            <i class="fa-regular fa-bookmark mr-2 text-right" style="font-size: 30px;"></i>
          <% end %>
        <% end %>
        <%= @post.bookmarks.count %>
        <div class = "posts-link mt-4 ml-auto">
          <%= link_to "投稿一覧に戻る", posts_path %>
        </div>
      </div>
    </div>
  </div>

  <div class = "comment-sidebar col-lg-3">
      <p class = "comment-button mt-5">コメント件数（ <%= @comments.count %> ）</p>
      <script>
        jQuery(function($) {
        $('.comment-button').on('click', function() {
        $(".comment-show").slideToggle();
        });
        });
      </script>
    <% @comments.each do |comment| %>
      <% if comment.parent_id.present? || comment.id.blank? %>
        <% next %>
      <% end %>
    <div class = "comment-show mb-4" style = "display: none;">
      <div class = "comment-user">
        <%= image_tag comment.user.icon_image, class: "rounded-circle" %>
        <% if comment.user_type == "Client" %>
          <div class = "comment-user-name"><%= link_to comment.user.name, client_path(comment.user.id) %></div>
        <% else %>
          <div class = "comment-user-name"><%= link_to comment.user.name, contractor_path(comment.user.id) %></div>
        <% end %>
      </div>
        <div class = "comment-time">
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
          <%= comment.content %>
          <% if current_client %>
            <% if comment.user_type == "Client" && current_client.id == comment.user_id %>
              <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            <% end %>
          <% end %>
          <% if current_contractor %>
            <% if comment.user_type == "Contractor" && current_contractor.id == comment.user_id %>
                <%= link_to post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
            <% end %>
          <% end %>
          <div class="hiddenrep">
            <% comment.replies.order(:created_at).each do |reply| %>
              <div class ="reparea mt-2 p-1 bg-white">
                <i class="fa-solid fa-reply"> コメントに対しての返信です</i>
                <div class ="repuser p-1">
                  <%= image_tag reply.user.icon_image, class: "rounded-circle" %>
                  <% if reply.user_type == "Client" %>
                    <div class = "comment-user-name"><%= link_to reply.user.name, client_path(reply.user) %></div>
                  <% else %>
                    <div class = "comment-user-name"><%= link_to reply.user.name, contractor_path(reply.user) %></div>
                  <% end %>
                  <div class = "comment-time"><%= reply.created_at.strftime('%Y/%m/%d %H:%M:%S') %></div>
                  <%=reply.content%>
                  <% if current_client %>
                    <% if reply.user_type == "Client" && current_client.id == reply.user_id %>
                      <%= link_to post_comment_path(reply.post.id, reply.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                        <i class="fa-regular fa-trash-can"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if current_contractor %>
                    <% if reply.user_type == "Contractor" && current_contractor.id == reply.user_id %>
                        <%= link_to post_comment_path(reply.post.id, reply.id), method: :delete, data: { confirm: "本当に削除しますか？" } do %>
                          <i class="fa-regular fa-trash-can"></i>
                        <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <p class = "reply-text mt-3" data-comment-id = '<%= comment.id %>'>コメントに対して返信する</p>
          <div class = "rep-form mt-3" id = "reply-form-<%= comment.id %>">
            <%= form_with(model:[@post,@comment_reply]) do |f| %>
                  <%= f.text_area :content, rows: '2',placeholder: "コメントに返信する", class: "form-control rounded" %>
              <%= f.hidden_field :parent_id, value: comment.id %>
              <div class="actions mt-3">
                <%= f.submit "送信", class: "btn btn-primary"%>
              </div>
            <% end %>
          </div>
      </div>
      <% end %>
    <div class = "comment-form-area mt-3">
      <%= form_with model: [@post, @comment] do |f| %>
        <div class = "comment-form">
          <%= f.text_area :content, rows: '3',placeholder: "コメント", class: "form-control rounded" %>
        </div>
        <div class = "comment-submit">
          <%= f.submit "送信する", class: "btn btn-primary mt-3" %>
        </div>
      <% end %>
    </div>
     <script>
      jQuery(function($) {
      $('.reply-text').on('click', function() {
      const commentId = $(this).data('comment-id');
      $(`#reply-form-${commentId}`).slideToggle();
      });
      });
    </script>
  </div>
</div>